.container{
    align-items:center;
    justify-content: center;
    width:70vh ;
    margin: 35vw;
    border: 1px solid black;
    height: 40vw ;
    display: flex;
    font-size: center;
    background-color: rgb(132, 229, 233);
    margin-bottom: 50px;
    margin-top: 50px;
    
}


    
    
    


#bx1{
    width:100vh;
    height: 40vw;
    align-items: center;
    font-size:center ; 
    display: flex; 
    justify-content: center; 
}